.sf-form {
    list-style-type: none;
    padding: 0;
    border-radius: 3px;
}
.sf-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em 1em .5em 0;
}
.sf-object-fieldset, .sf-array-fieldset {
    padding-left: 1.5em;
}
.sf-row > label.sf-caption {
    padding: .5em 1em .5em 0;
    flex: 1;
    max-width: 10rem;
    text-align: left;
}
.sf-row .sf-description {
    font-size: 11px;
}
.sf-row > .sf-control {
    flex: 2;
    border: 1px solid grey;
}
.sf-row > .sf-control,
.sf-row > button {
    padding: .5em;
}
.sf-row > .sf-control.sf-has-error {
    border-color: red;
}
.sf-row > button {
    background: gray;
    color: white;
    border: 0;
}
.sf-error-row {
    justify-content: flex-start;
    color: red;
}
.sf-buttons {
    margin-top: 1.5em;
}

.sf-row .sf-upload {
    overflow: hidden;
    padding: 0;
    position: relative;

    & > div {
        padding: 0.5em;
    }

    &.sf-drag-over {
        background-color: #ddd;
    }

    .sf-upload-row {
        display: flex;
        flex-wrap: wrap;

        .sf-image-container {
            display: flex;

            .sf-upload-container {
                display: flex;

                .sf-upload-delete {
                    display: inline-block;
                    cursor: pointer;
                    position: relative;
                    top: -7px;
                    left: 1px;
                }

                .sf-image-crop {
                    height: 40px;
                    max-width: 60px;
                    overflow: hidden;
                    display: inline-block;
                    vertical-align: middle;
                }
                
                .sf-image-crop img {
                    height: 100%;
                    display: block;
                    position: relative;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        p {
            margin: 0.5em;
        }

        .sf-upload-url {
            flex: 1 1;
            margin-right: 20px;
        }
    }

    .sf-upload-mode {
        position: absolute;
        top: 0;
        right: 0;
        width: 1.3em;
        height: 1.3em;
        background-color: #333;
        padding: 0;
        cursor: pointer;

        img {
            width: 70%;
            margin-left: 15%;
            margin-top: 15%;
        }
    }
}